.mod-detailview {
	.backgimg {
		background: url("/assets/img/backgrounds/stadiumdefault.jpg") !important;
		height: 100vh;
		color: white;
	}

	.zprofile {
		box-shadow: 9px 6px 18px 3px rgba(0, 0, 0, 0.65);
		border-radius: 100%;
		width: 30%;
		display: inline-block;
		margin-left: -45px;
	}

	.playerinfo {
		display: block;
		margin: 100px 0;
	}

	.flat-table {
		display: block;
		font-family: sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: 105%;
		overflow: auto;
		opacity: .97;
		margin: 0 auto;
		height: 100%;
		border-radius: 10px;

		td {
			background-color: rgb(238, 238, 238);
			color: rgb(111, 111, 111);
			padding: 15px 20px;
			border-radius: 0;
			border-bottom: solid 1px rgb(70, 70, 70);

		}

		.radbord {
			border-bottom-right-radius: 10px;
			border-bottom: none;
		}
		.radbord1 {
			border-bottom: none;
		}
	}

	.flat-table-season {
		display: block;
		font-family: sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: 105%;
		overflow: auto;
		width: 100%;
		margin: 0 auto;
		opacity: .97;
		height: 100%;
		border-radius: 10px;
		td {
			background-color: rgb(194, 194, 194);
			color: rgb(89, 89, 89);
			padding: 15px 20px;
			border-radius: 0;
			cursor: pointer;
			border-bottom: solid 1px rgb(70, 70, 70);

		}
		.radbord {
			border-bottom-right-radius: 10px;
			border-bottom: none;
		}
		.bordrad {
			border-top-right-radius: 10px;
		}
		.radbord1 {
			border-bottom: none;
		}
	}

	.nameplayer {
		display: inline-block;
		vertical-align: top;
		margin-left: 110px;
	}

	.seasons {

	}
}

//.hexa, .hexa div {
//	margin: 0 auto;
//	transform-origin: 50% 50%;
//	overflow: hidden;
//	width: 300px;
//	height: 300px;
//}
//
//.hexa {
//	width: 325px;
//	height: 230px;
//}
//
//.hexa div {
//	width: 100%;
//	height: 100%;
//}
//
//.hexa {
//	transform: rotate(120deg);
//}
//
//.hex1 {
//	transform: rotate(-60deg);
//}
//
//.hex2 {
//	transform: rotate(-60deg);
//}

