<?php 
	header('Content-Type: application/json');
?>
{
	"zlatan": {
		"infos": {
			"firstLastName": "Name: Zlatan Ibrahimović",
			"gebDatum": "Geburtsdatum: 03.10.1981",
			"nationalitaet": "Nationalität: Schweden",
			"positionFeld": "Position: Mittelstürmer",
			"geburtsort": "Geburtsort: Malmö",
			"groesse": "Grösse: 1,95m",
			"berater": "Berater: Mino Raiola",
			"landSpieleSlashTore": "Länderspiele/Tore: 116/62"
		},
		"specialAttributes": {
			"club": "Paris Saint-Germain",
			"backgroundPicSrc": "/assets/img/",
			"cssClass": "zlatan",
			"profilePicSrc": "/assets/img/portraits/zlatan-ibrahimovic.jpg",
			"naming": "Zlatan Ibrahimović",
			"className": "zlatani"
		},
		"seasons": {
			"2016": {
				"data": [{
					"competition": "Premier League",
					"deployments": "3",
					"goals": "3",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "270'"
				}, {
					"competition": "Community Shield",
					"deployments": "1",
					"goals": "1",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			},
			"2015": {
				"data": [{
					"competition": "Ligue 1",
					"deployments": "31",
					"goals": "38",
					"assists": "13",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "2.553"
				}, {
					"competition": "Champions League",
					"deployments": "10",
					"goals": "5",
					"assists": "3",
					"yellowCards": "2",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "880"
				}, {
					"competition": "Coupe de France",
					"deployments": "6",
					"goals": "7",
					"assists": "2",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "455"
				}, {
					"competition": "Coupe de la Ligue",
					"deployments": "3",
					"goals": "-",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "168"
				}, {
					"competition": "Trophée des Champions",
					"deployments": "1",
					"goals": "-",
					"assists": "1",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90"
				}]
			},
			"2014": {
				"data": [{
					"competition": "Ligue 1",
					"deployments": "24",
					"goals": "19",
					"assists": "6",
					"yellowCards": "3",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "2.004'"
				}, {
					"competition": "Champions League",
					"deployments": "6",
					"goals": "2",
					"assists": "1",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "1",
					"playMinutes": "477'"
				}, {
					"competition": "Coupe de la Ligue",
					"deployments": "3",
					"goals": "3",
					"assists": "1",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "270'"
				}, {
					"competition": "Coupe de France",
					"deployments": "3",
					"goals": "4",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "270'"
				}, {
					"competition": "Trophée des Champions",
					"deployments": "1",
					"goals": "2",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			},
			"2013": {
				"data": [{
					"competition": "Ligue 1",
					"deployments": "33",
					"goals": "26",
					"assists": "15",
					"yellowCards": "7",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "2.770'"
				}, {
					"competition": "Champions League",
					"deployments": "8",
					"goals": "10",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "668'"
				}, {
					"competition": "Coupe de France",
					"deployments": "2",
					"goals": "3",
					"assists": "1",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "87'"
				}, {
					"competition": "Coupe de la Ligue",
					"deployments": "2",
					"goals": "2",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "135'"
				}, {
					"competition": "Trophée des Champions",
					"deployments": "1",
					"goals": "-",
					"assists": "1",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			},
			"2012": {
				"data": [{
					"competition": "Ligue 1",
					"deployments": "34",
					"goals": "30",
					"assists": "10",
					"yellowCards": "9",
					"yellowRedCards": "-",
					"redCards": "1",
					"playMinutes": "2.974'"
				}, {
					"competition": "Champions League",
					"deployments": "9",
					"goals": "3",
					"assists": "7",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "1",
					"playMinutes": "793'"
				}, {
					"competition": "Coupe de France",
					"deployments": "2",
					"goals": "2",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "196'"
				}, {
					"competition": "Coupe de la Ligue",
					"deployments": "1",
					"goals": "-",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			},
			"2011": {
				"data": [{
					"competition": "Serie A",
					"deployments": "32",
					"goals": "28",
					"assists": "8",
					"yellowCards": "3",
					"yellowRedCards": "-",
					"redCards": "1",
					"playMinutes": "2.811'"
				}, {
					"competition": "Champions League",
					"deployments": "8",
					"goals": "5",
					"assists": "4",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "720'"
				}, {
					"competition": "Coppa Italia",
					"deployments": "3",
					"goals": "1",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "156'"
				}, {
					"competition": "Supercoppa TIM",
					"deployments": "1",
					"goals": "1",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			}
		}
	},
	"jackson": {
		"infos": {
			"firstLastName": "Name: Jackson Martinez",
			"gebDatum": "Geburtsdatum: 03.10.1986",
			"nationalitaet": "Nationalität: Kolumbien",
			"positionFeld": "Position: Mittelstürmer",
			"geburtsort": "Geburtsort: Quibdó",
			"groesse": "Grösse: 1,85m",
			"berater": "Berater: Henrique Pompeo",
			"landSpieleSlashTore": "Länderspiele/Tore: 39/10"
		},
		"specialAttributes": {
			"club": "FC Porto",
			"backgroundPicSrc": "/assets/img/",
			"cssClass": "jackson",
			"profilePicSrc": "/assets/img/portraits/jackson-martinez.jpg",
			"naming": "Jackson Martinez",
			"className": "jacksonm"
		},
		"seasons": {
			"2011": {
				"data": [{
					"competition": "Liga MX Clausura",
					"deployments": "16",
					"goals": "8",
					"assists": "3",
					"yellowCards": "6",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "1.440'"
				}, {
					"competition": "Liga MX Apertura",
					"deployments": "15",
					"goals": "8",
					"assists": "3",
					"yellowCards": "2",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "1.019'"
				}, {
					"competition": "Liguilla Apertura",
					"deployments": "2",
					"goals": "2",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "180'"
				}, {
					"competition": "Liguilla Clausura",
					"deployments": "2",
					"goals": "2",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "180'"
				}]
			},
			"2012": {
				"data": [{
					"competition": "Liga NOS",
					"deployments": "30",
					"goals": "26",
					"assists": "2",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "2.684'"
				}, {
					"competition": "Champions League",
					"deployments": "8",
					"goals": "3",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "708'"
				}, {
					"competition": "Taça CTT",
					"deployments": "1",
					"goals": "1",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "44'"
				}, {
					"competition": "Supertaça",
					"deployments": "1",
					"goals": "1",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			},
			"2013": {
				"data": [{
					"club": "FC Porto",
					"competition": "Liga NOS",
					"deployments": "30",
					"goals": "20",
					"assists": "3",
					"yellowCards": "2",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "2.596'"
				}, {
					"competition": "Champions League",
					"deployments": "6",
					"goals": "2",
					"assists": "-",
					"yellowCards": "2",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "540'"
				}, {
					"competition": "Europa League",
					"deployments": "5",
					"goals": "1",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "450'"
				}, {
					"competition": "Taça de Portugal Placard",
					"deployments": "5",
					"goals": "2",
					"assists": "-",
					"yellowCards": "2",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "428'"
				}, {
					"competition": "Taça CTT",
					"deployments": "4",
					"goals": "3",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "259'"
				}, {
					"competition": "Supertaça",
					"deployments": "1",
					"goals": "1",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			},
			"2014": {
				"data": [{
					"competition": "Liga NOS",
					"deployments": "30",
					"goals": "21",
					"assists": "6",
					"yellowCards": "4",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "2.551'"
				}, {
					"competition": "Champions League",
					"deployments": "8",
					"goals": "7",
					"assists": "1",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "629'"
				}, {
					"competition": "CL-Quali",
					"deployments": "2",
					"goals": "1",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "180'"
				}, {
					"competition": "Taça CTT",
					"deployments": "1",
					"goals": "2",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "60'"
				}, {
					"competition": "Taça de Portugal Placard",
					"deployments": "1",
					"goals": "1",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "90'"
				}]
			},
			"2015": {
				"data": [{
					"competition": "LaLiga",
					"deployments": "15",
					"goals": "2",
					"assists": "2",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "654'"
				}, {
					"competition": "Super League",
					"deployments": "8",
					"goals": "3",
					"assists": "1",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "486'"
				}, {
					"competition": "Champions League",
					"deployments": "4",
					"goals": "1",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "243'"
				}, {
					"competition": "AFC Champions League",
					"deployments": "4",
					"goals": "-",
					"assists": "1",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "360'"
				}, {
					"competition": "Copa del Rey",
					"deployments": "3",
					"goals": "-",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "156'"
				}, {
					"competition": "Chinese Super Cup",
					"deployments": "1",
					"goals": "-",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "87'"
				}, {
					"competition": "Chinese FA Cup",
					"deployments": "-",
					"goals": "-",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "-"
				}]
			}
		}
	},
	"renato": {
		"infos": {
			"firstLastName": "Name: Renato Sanches",
			"gebDatum": "Geburtsdatum: 18.08.1997",
			"nationalitaet": "Nationalität: Portugal",
			"positionFeld": "Position: Zentrales Mittelfeld",
			"geburtsort": "Geburtsort: Lisboa",
			"groesse": "Grösse: 1,76m",
			"berater": "Berater: Gestifute",
			"landSpieleSlashTore": "Länderspiele/Tore: 11/1"
		},
		"specialAttributes": {
			"club": "SL Benfica",
			"backgroundPicSrc": "/assets/img/",
			"cssClass": "renato",
			"profilePicSrc": "/assets/img/portraits/renato-sanches.jpg",
			"naming": "Renato Sanches",
			"className": "renatos"
		},
		"seasons": {
			"2014": {
				"data": [{
					"competition": "Ledman Liga Pro",
					"deployments": "24",
					"goals": "-",
					"assists": "1",
					"yellowCards": "4",
					"yellowRedCards": "-",
					"redCards": "2",
					"playMinutes": "999'"
				}, {
					"competition": "UEFA Youth League",
					"deployments": "6",
					"goals": "-",
					"assists": "4",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "468'"
				}, {
					"competition": "Taça de Portugal Placard",
					"deployments": "-",
					"goals": "-",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "-"
				}]
			},
			"2015": {
				"data": [{
					"competition": "Liga NOS",
					"deployments": "24",
					"goals": "2",
					"assists": "1",
					"yellowCards": "5",
					"yellowRedCards": "1",
					"redCards": "-",
					"playMinutes": "1.905'"
				}, {
					"competition": "Ledman Liga Pro",
					"deployments": "10",
					"goals": "3",
					"assists": "-",
					"yellowCards": "5",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "853'"
				}, {
					"competition": "Champions League",
					"deployments": "6",
					"goals": "-",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "540'"
				}, {
					"competition": "Taça CTT",
					"deployments": "5",
					"goals": "-",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "250'"
				}, {
					"competition": "UEFA Youth League",
					"deployments": "2",
					"goals": "1",
					"assists": "-",
					"yellowCards": "1",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "180'"
				}, {
					"competition": "Taça de Portugal Placard",
					"deployments": "-",
					"goals": "-",
					"assists": "-",
					"yellowCards": "-",
					"yellowRedCards": "-",
					"redCards": "-",
					"playMinutes": "-"
				}]
			}
		}
	}
}