<div class="mod mod-detailview row">
	<!--<div class="zlatan">-->
	<!--<img src="/assets/img/portraits/zlatan-ibrahimovic.jpg" />-->
	<!--</div>-->
	<!--<div class="zlatan-diamond">-->
	<!--<div class="zlatanimg">-->
	<!--<div class="zl1">-->
	<!--<img src="/assets/img/portraits/zlatan-ibrahimovic.jpg" alt="" width="255" height="320" />-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div class="part">-->
	<!--<div class="hexa">-->
	<!--<div class="hex1">-->
	<!--<div class="hex2">-->
	<!--<img src="/assets/img/portraits/zlatan-ibrahimovic.jpg" alt="" width="320" height="313" />-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
</div>
<div class="col l7 playerinfo">
	<img class="zprofile" src="/assets/img/portraits/zlatan-ibrahimovic.jpg">
	<h2 class="nameplayer">Zlatan Ibrahimoviç</h2>
</div>
<div class="row seasons">
	<div class="col l2"></div>
	
	<div class="col l5 infos">
		<table class="flat-table">
			<tr>
				<td>
					Geb./Alter:
				</td>
				<td class="bordertd">
					03.10.1981 (34)
				</td>
				<td>
					Größe:
				</td>
				<td>
					1,95 m
				</td>
			</tr>
			<tr>
	
				<td>
					Nationalität:
				</td>
				<td class="bordertd">
					Schweden
				</td>
				<td>
					Berater:
				</td>
				<td>
					Mino Raiola
				</td>
			</tr>
			<tr>
	
				<td>
					Position:
				</td>
				<td class="bordertd">
					Mittelstürmer
				</td>
				<td>
					Länderspiele/Tore:
				</td>
				<td>
					116/62
				</td>
			</tr>
			<tr>
	
				<td>
					Ehem. Nationalspieler:
				</td>
				<td class="bordertd">
					Schweden
				</td>
			</tr>
			<tr>
				<td>
					Geburtsort:
				</td>
				<td class="bordertd">
					Malmö
				</td>
			</tr>
		</table>
	</div>
	<div class="col l3 seasonDisplay">
		<table class="flat-table-season">
			<tr>
				<td>
					2011/12
				</td>
				<td>
					2012/13
				</td>
				<td>
					2013/14
				</td>
			</tr>
			<tr>
				
				<td>
					2014/15
				</td>
				<td>
					2015/16
				</td>
				<td>
					2016/17
				</td>
			</tr>
			<tr>
				
				<td>
					CL
				</td>
				<td>
					EURO
				</td>
			</tr>
		</table>
	</div>
	<div class="col l2"></div>
</div>

<!--Geb./Alter: 03.10.1981 (34)-->
<!--Geburtsort:  SchwedenMalmö-->
<!--Nationalität:  SchwedenSchweden-->
<!--Größe: 1,95 m-->
<!--Position: Mittelstürmer-->
<!--Berater: Mino Raiola-->
<!--Ehem. Nationalspieler:  SchwedenSchweden-->
<!--Länderspiele/Tore: 116/62-->