<div class="mod mod-detailview">
	<!--<div class="zlatan">-->
	<!--<img src="/assets/img/portraits/zlatan-ibrahimovic.jpg" />-->
	<!--</div>-->
	<!--<div class="zlatan-diamond">-->
	<!--<div class="zlatanimg">-->
	<!--<div class="zl1">-->
	<!--<img src="/assets/img/portraits/zlatan-ibrahimovic.jpg" alt="" width="255" height="320" />-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div class="part">-->
	<!--<div class="hexa">-->
	<!--<div class="hex1">-->
	<!--<div class="hex2">-->
	<!--<img src="/assets/img/portraits/zlatan-ibrahimovic.jpg" alt="" width="320" height="313" />-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<div class="row">
		<div class="col l5 playerinfoimg">
			<img src="/assets/img/portraits/zlatan-ibrahimovic.jpg">
		</div>
		<div class="col l7 playerinfo">
			<table>
				<tr>
					<td>
						Geb./Alter:
					</td>
					<td>
						03.10.1981 (34)
					</td>
					<td>
						Geburtsort:
					</td>
					<td>
						Malmö
					</td>
				</tr>
				<tr>

					<td>
						Nationalität:
					</td>
					<td>
						Schweden
					</td>
					<td>
						Größe:
					</td>
					<td>
						1,95 m
					</td>
				</tr>
				<tr>

					<td>
						Position:
					</td>
					<td>
						Mittelstürmer
					</td>
					<td>
						Berater:
					</td>
					<td>
						Mino Raiola
					</td>
				</tr>
				<tr>

					<td>
						Ehem. Nationalspieler:
					</td>
					<td>
						Schweden
					</td>
					<td>
						Länderspiele/Tore:
					</td>
					<td>
						116/62
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!--Geb./Alter: 03.10.1981 (34)-->
<!--Geburtsort:  SchwedenMalmö-->
<!--Nationalität:  SchwedenSchweden-->
<!--Größe: 1,95 m-->
<!--Position: Mittelstürmer-->
<!--Berater: Mino Raiola-->
<!--Ehem. Nationalspieler:  SchwedenSchweden-->
<!--Länderspiele/Tore: 116/62-->