<div class="mod mod-detailview">
	<div class="backgimg">
		<div class="container">
			<div class="row">
				<div class="col l7 push-l2 playerinfo">
					<img class="zprofile" src="/assets/img/portraits/default.jpg">
					<h2 class="nameplayer">Default</h2>
				</div>
			</div>
			<div class="row seasons">

				<div class="col l6 push-l1 infos">
					<table class="flat-table js-flat-table">
						
					</table>
				</div>
				<div class="col l5 push-l1 seasonDisplay">
					<a href="/views/saisonview">
						<table class="flat-table-season">
							<tr>
								<td>
									2011/12
								</td>
								<td>
									2012/13
								</td>
								<td class="bordrad">
									2013/14
								</td>
							</tr>
							<tr>

								<td>
									2014/15
								</td>
								<td>
									2015/16
								</td>
								<td class="radbord">
									2016/17
								</td>
							</tr>
							<tr>

								<td class="radbord1">
									CL
								</td>
								<td class="radbord">
									EURO
								</td>
							</tr>
						</table>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>