<div class="mod mod-playerseasontable skin-playerseasontable-zlatanibrahimovic">
	<div class="col l5 push-l1 seasonDisplay">
		<table class="flat-table-season">
			<tr>
				<td>
					<a href="/views/saisonview?playerId=zlatan&season=2014">
						2011/12
					</a>
				</td>
				<td>
					<a href="/views/saisonview?playerId=zlatan&season=2014">
						2012/13
					</a>
				</td>
				<td class="bordrad">
					<a href="/views/saisonview?playerId=zlatan&season=2014">
						2013/14
					</a>
				</td>
			</tr>
			<tr>

				<td>
					<a href="/views/saisonview?playerId=zlatan&season=2014">
						2014/15
					</a>
				</td>
				<td>
					<a href="/views/saisonview?playerId=zlatan&season=2015">
						2015/16
					</a>
				</td>
				<td class="radbord">
					<a href="/views/saisonview?playerId=zlatan&season=2016">
						2016/17
					</a>
				</td>
			</tr>
		</table>
		
	</div>
</div>
