.skin-playerseasontable-zlatanibrahimovic {
	.flat-table-season {
		display: block;
		font-family: sans-serif;
		-webkit-font-smoothing: antialiased;
		font-size: 105%;
		overflow: auto;
		width: 100%;
		margin: 0 auto;
		opacity: .97;
		height: 100%;
		border-radius: 10px;
		td {
			background-color: rgb(194, 194, 194);
			color: rgb(89, 89, 89);
			padding: 15px 20px;
			cursor: pointer;

		}
		.radbord {
			border-bottom-right-radius: 10px;
			border-right: none;
			border-bottom: none;
		}
		.bordrad {
			border-top-right-radius: 10px;
			border-right: none;
		}
	}
}
