.zlatan {
	.backgimg {
		background: url("/assets/img/backgrounds/zlatan.jpeg");
		color: white;
	}
}
.renato {
	.backgimg {
		background: url("/assets/img/backgrounds/zlatan.jpeg");
		color: white;
	}
}
.jackson {
	.backgimg {
		background: url("/assets/img/backgrounds/zlatan.jpeg");
		color: white;
	}
}