.zlatan {
	.backgimg {
		background: url("/assets/img/backgrounds/zlatan.jpeg");
		color: white;
		height: 100vh;
	}
}

.renato {
	.backgimg {
		background: url("/assets/img/backgrounds/renato5.jpg");
		color: white;
		height: 100vh;

	}
}

.jackson {
	.backgimg {
		background: url("/assets/img/backgrounds/martinez3.jpg");
		color: white;
		height: 100vh;
	}
}

.zlatan.saison {
	.background {
		.bgimg {
			background-image: url("/assets/img/seasonprofile/psg.jpg");
			height: 100vh;
		}
	}
}
.jackson.saison {
	.background {
		.bgimg {
			background-image: url("/assets/img/seasonprofile/porto3.jpg");
			height: 100vh;
		}
	}
}
.renato.saison {
	.background {
		.bgimg {
			background-image: url("/assets/img/seasonprofile/benfica1.jpg");
			height: 100vh;
		}
	}
}