<?php 
	if(isset($_GET['playerId'])) {
		$player = $_GET['playerId'];
	}
	if(isset($_GET['season'])) {
			$seasonYear = $_GET['season'];
		}
	
?>
<div class="mod mod-saisonview" data-player="<?php echo $player; ?>" data-season="<?php echo $seasonYear; ?>">
	<div class="background">
		<div class="container bgimg" style="width: 80%;">
			<div class="row">
				<div class="col l12 content">
					<div class="col l6 push-l3 seasonTitle">
							
					</div>

				</div>

			</div>
			<div class="row">
				<div class="seasonteam">
						<h3>
						</h3>
				</div>
			</div>
			<div class="row">
				<div class="col l8 push-l2">
					<table class="flat-table-saison">
						<thead>
						<tr>
							<th>Wettbewerb</th>
							<th>Einsätze</th>
							<th>Tore</th>
							<th>Torvorlagen</th>
							<th>Gelbe Karten</th>
							<th>Gelb-Rote Karten</th>
							<th>Rote Karten</th>
							<th>Spielminuten</th>
						</tr>
						</thead>
						<tbody class="js-table-content">

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
