<?php
if(isset($_GET['playerId'])) {
		$player = $_GET['playerId'];
		
	}
?>

<script id="tpl-seasntbl" type="text/x-handlebars-template">
	<div class="mod mod-playerseasontable skin-playerseasontable-{{playerId}}">
		<div class="col l5 push-l1 seasonDisplay">
				<table class="flat-table-season">
					{{#each seasonKeys}}
					<tr>
						<td>
							<a href="/views/saisonview?playerId=<?php echo $player;?>&season={{this}}">
								{{this}}
							</a>
						</td>
					</tr>
					{{/each}}
				</table>
		</div>
	</div>
</script>