<?php
if(isset($_GET['playerId'])) {
		$player = $_GET['playerId'];
		
	}
?>

<div class="mod mod-playerprofile-wrapper <?php echo $player; ?>">
	<input class="js-player-id" type="hidden" value="<?php echo $player; ?>">
	<div class="backgimg js-playerid" data-player="<?php echo $player; ?>">
		<div class="container">
			<div class="row js-outlet-profilpic-module">
			</div>
			<div class="row seasons js-outlet-info-table js-outlet-season-table">
	
				<?php component('playerinfotable'); ?>
				<?php component('playerseasontable'); ?>
			</div>
		</div>
	</div>
	
	<?php include ("block-template-profilpicture.html"); ?>
	<?php include ("block-template-seasontable.html"); ?>
	<?php include ("block-template-infotable.html"); ?>
</div>
