
<?php 
	if(isset($_GET['playerId'])) {
		$player = $_GET['playerId'];
	}
?>
<div class="mod mod-playerinfotable skin-playerinfotable-zlatanibrahimovic">
	<div class="col l6 push-l1 infos">
		<table class="flat-table">
			<tr>
				<td>
					Geb./Alter:
				</td>
				<td class="bordertd">
					03.10.1981 (34)
				</td>
				<td>
					Größe:
				</td>
				<td>
					1,95 m
				</td>
			</tr>
			<tr>

				<td>
					Nationalität:
				</td>
				<td class="bordertd">
					Schweden
				</td>
				<td>
					Berater:
				</td>
				<td>
					Mino Raiola
				</td>
			</tr>
			<tr>

				<td>
					Position:
				</td>
				<td class="bordertd">
					Mittelstürmer
				</td>
				<td>
					Länderspiele/Tore:
				</td>
				<td class="radbord">
					116/62
				</td>
			</tr>
			<tr>

				<td>
					Ehem. Nationalspieler:
				</td>
				<td class="bordertd">
					Schweden
				</td>
			</tr>
			<tr>
				<td>
					Geburtsort:
				</td>
				<td class="bordertd radbord">
					Malmö
				</td>
			</tr>
		</table>
	</div>
</div>
